<div id="<%= dom_id minning_type %>">
  <p>
    <strong>Description:</strong>
    <%= minning_type.description %>
  </p>

  <p>
    <strong>Acronym:</strong>
    <%= minning_type.acronym %>
  </p>

</div>
