<h1><%= link_to t('editing_minimg_type'), @minning_type %></h1>

<%= render "form", minning_type: @minning_type %>

<br>

<div>
  <%= link_to t('show'), @minning_type, class:"btn btn-primary" %> 
  <%= link_to t('back'), minning_types_path, class:"btn btn-primary" %>
</div>
