<h1><%= t('editing_coin') %></h1>

<%= render "form", coin: @coin %>

<br>

<div>
  <%= link_to t('show'), @coin, class:"btn btn-primary" %> 
  <%= link_to t('back'), coins_path, class:"btn btn-primary" %>
</div>
